  <div class="container-fluid">
      <!-- Example row of columns -->
      <div class="row">
        <div class=" col-md-4 category">
          <%= link_to image_tag("projects.jpg", :class => "img_category"), projects_path%>
          <h2>Projects</h2>
        </div>
        <div class=" col-md-4 category">
          <%= link_to image_tag("abhishek.jpg", :class => "img_category") ,"/what_am_I_doing_now"%>
          <h2>What am I doing right now ?? </h2>
        </div>
        <div class=" col-md-4 category">
          <%= link_to image_tag("challenges.jpg", :class => "img_category"), challenges_path %>
          <h2>Challenges</h2>
        </div>
      </div>
      <div class="row">
        <div class=" col-md-4 category">
           <%=link_to image_tag("sample.jpg", :class => "img_category"), "http://www.flickr.com/photos/95955767@N07/sets/", target: "_blank" %>
          <h2>Photography</h2>
        </div>
        <div class=" col-md-4 category">
          <%= link_to image_tag("achievements.jpg", :class => "img_category"), achievements_path %>
          <h2>Achievements</h2>
        </div>

               <div class=" col-md-4 category">
          <%=link_to image_tag("bucket_list.jpg", :class => "img_category"), "/impossible_list" %>
          <h2>My Impossible List</h2>
        </div>
      </div>



  </div>
